// skip module data map
$cog-skip-link: (
	padding: 1em 1.5em,
	background: gray,
	color: white
) !default;


// basic functionalty for the skip link
.skip-link {
	position: absolute;
	display: inline-block;
	top: -1000px;
	left: -1000px;

	&:active,
	&:focus,
	&:hover {
		top: 0;
		left: 0;
	}
}


.skip-link {
	padding: map-get($cog-skip-link, padding);
	background: map-get($cog-skip-link, background);
	color: map-get($cog-skip-link, color);
}